* {
  color: #c9ee02;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: black;
  height: 100vh;
  background-size: cover;
  background-position: center;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
}

.rownav {
  display: flex;
  margin-right: 4em;
  margin-left: 1em;
  justify-content: space-between;
}

.logo {
  width: 200px;
  height: auto;
}

.nav {
  list-style: none;
}

.nav li {
  display: inline-block;
  padding: 4.5em 0 0 2em;
}
.nav li a {
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid transparent;
}
.nav li a:hover,
.nav li a:active {
  text-decoration: none;
  text-transform: uppercase;
  font-size: none;
  color: #c9ee02;
  border-bottom: 2px solid #c9ee02;
  padding-bottom: 8px;
  transition: all 0.25s;
}

#selected {
  padding-bottom: 8px;
  border-bottom: 2px solid #c9ee02;
}

section {
  margin-top: auto;
  margin-bottom: auto;
}

.index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index h1 {
  font-weight: bold;
  font-size: 3.4em;
  letter-spacing: 20px;
}

footer {
  margin-top: auto;
  margin-bottom: 2em;
}

footer .foot {
  display: flex;
  justify-content: space-evenly;
}

.foot a {
  text-decoration: none;
  font-size: 1em;
}
